/* FileUpload Styles */
.file-upload-container {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .file-upload-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-control,
  .form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .file-upload-btn button {
    width: 100px;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-content: center;
    font-weight: 900;
    margin: auto;
  }
  
  button:hover {
    background-color: #62A404;
    font-weight: 700;
  }
  
  .alert {
    margin-top: 10px;
  }

  .alert-alert-info {
    color: #000000;
    background-color: #00ffe5;
    border-color: #c3e6cb;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 600px) {

    .file-upload-container {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 10px;
      }
      
      .file-upload-form {
        padding: 10px;
        border: 0.5px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      
      form {
        display: flex;
        flex-direction: column;
      }
      
      .label {
        margin-bottom: 4px;
        color: #333;
      }
      
      .form-control,
      .form-select {
        width: 50%;
        padding: 4px;
        margin-bottom: 8px;
        border: 0.5px solid #ccc;
        border-radius: 2px;
      }
      
      button {
        width: 30%;
        padding: 5px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        align-content: center;
        font-weight: 300;
        margin: auto;
      }
      
      button:hover {
        background-color: #62A404;
        font-weight: 500;
      }
      
      .alert {
        margin-top: 5px;
      }
  }
  