/* InspectionResultTable Styles
.inspection-result-table-container {
    max-width: 800px;
    width: auto;
    margin-left: 20px;
  }
  
  .inspection-result-table-label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .phase-label {
    margin-right: 10px;
  }
  
  .phase-select {
    padding: 8px;
    margin-bottom: 16px;
    width: 70%;
  }
  
  .table-scroll {
    overflow-x: auto;
  }
  
  .inspection-result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    align-items: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    overflow: hidden;
  }
  
  .inspection-result-table th,
  .inspection-result-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .inspection-result-table th {
    background-color: #d4d4d4;
    font-weight: bold;
    padding: 10px;
  }
  
  .inspection-result-table tbody tr:hover {
    background-color: #e3e4e2;
  }
  
  .defFile-download-btn {
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    border-radius: 30px;
  }
  
  .defFile-download-btn:hover {
    background-color: #0052aa;
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 600px) {
    .inspection-result-table-container {
      max-width: 100%;
      margin-left: 0;
    }
  
    .inspection-result-table-label {
      font-size: 14px;
      margin-top: 10px;
    }
  
    .table-scroll {
      overflow-x: scroll;
    }
  
    .inspection-result-table {
      width: 100%;
      font-size: 12px;
    }
  }
   */