.password-change-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 188, 22, 0.9);
    background-color: white;
  }
  
  .password-change-form h2 {
    text-align: center;
    color: #62A404;
    margin-bottom: 50px;
  }
  
  .password-change-form div {
    margin-bottom: 15px;
  }
  
  .password-change-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .password-change-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-change-form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .password-change-form button:hover {
    background-color: #62A404;
  }
  
  .password-change-form div.message {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
  }
  
  .password-change-form div.message.success {
    color: green;
  }
  
  .password-change-form div.message.error {
    color: red;
  }