/* PhaseForm Styles */
.phase-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .phase-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  /* Optional: Style for the select dropdown arrow */
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23333" d="M14.7 8.7l-4 4c-.39.39-1.02.39-1.41 0l-4-4c-.39-.39-.39-1.02 0-1.41s1.02-.39 1.41 0L10 10.58l3.29-3.29c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px 20px;
  }

  button {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-content: center;
    font-weight: 500;
    margin: auto;
  }
  
  button:hover {
    background-color: #62A404;
    font-weight: 700;
  }

  .phase-success-message {
    color: #000000;
    background-color: #00ffe5;
    border-color: #c3e6cb;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 600px) {

    .phase-form-container {
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 10px;
      }
      
      .phase-form {
        padding: 10px;
        border: 0.5px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      
      h2 {
        text-align: center;
        font-size: 12px;
        color: #333;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      
      form {
        display: flex;
        flex-direction: column;
      }
      
      label {
        margin-bottom: 4px;
        color: #333;
      }
      
      input,
      select {
        width: 50%;
        padding: 4px;
        margin-bottom: 8px;
        border: 0.5px solid #ccc;
        border-radius: 3px;
      }
      
      
      /* Optional: Style for the select dropdown arrow */
      select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23333" d="M14.7 8.7l-4 4c-.39.39-1.02.39-1.41 0l-4-4c-.39-.39-.39-1.02 0-1.41s1.02-.39 1.41 0L10 10.58l3.29-3.29c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 4px center;
        background-size: 10px 10px;
      }
    
      button {
        width: 30%;
        padding: 5px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        align-content: center;
        font-weight: 300;
        margin: auto;
      }
      
      button:hover {
        background-color: #62A404;
        font-weight: 500;
      }

  }
  